@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eeeeee;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d4bee4;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9b7ebd;
}
@font-face {
  font-family: "yekan";
  src: local("Yekan"), url("./font/Yekan.ttf") format("truetype");
}
